/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы
в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin-block: 100px;
  font-family: var(--font-family-main, sans-serif), sans-serif;
  font-size: var(--font-size-base);
  font-variation-settings: 'wght' var(--font-weight-text);
  background-image: var(--gradient-horizontal-stripes), var(--gradient-vertical-stripes),
    var(--gradient-main);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.header {
  max-inline-size: var(--section-width);
  padding: var(--header-padding-block) var(--header-padding-inline);
  outline: var(--section-border);
  background-color: var(--section-background);
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: normal;
}

.header-title {
  font-family: var(--font-family-title, sans-serif), sans-serif;
  font-size: var(--font-size-header-title);
  text-transform: uppercase;
}

.header-subtitle {
  font-family: var(--font-family-title, sans-serif), sans-serif;
  font-size: var(--font-size-header-subtitle);
  text-transform: uppercase;
}

.main {
  max-inline-size: var(--section-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section {
  border: var(--section-border);
  background-color: var(--section-background);
  display: flex;
  flex-direction: column;
  padding-inline: 2px;
}

.section-title {
  font-size: var(--font-size-section-title);
  font-variation-settings: 'wght' var(--font-weight-section-title);
  padding: var(--section-title-padding);
  line-height: normal;
}

.section-image {
  position: relative;
  border-block: var(--section-border);
}

.image {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.image-contrast-brightness {
  filter: contrast(1.1) brightness(1.3);
}

.image-contrast-blur {
  filter: contrast(1.1) blur(1px);
}

.image-contrast-inversion {
  filter: contrast(1.1) invert(0.9);
}

.image-sepia-contrast {
  filter: contrast(1.1) sepia(0.5);
}

.image-bW-contrast {
  filter: contrast(1.1) grayscale(100%);
}

.image-contrast-color {
  filter: contrast(1.1) hue-rotate(180deg);
}

.image-neon {
  filter: brightness(1.5) contrast(1.8) saturate(2) hue-rotate(180deg)
    drop-shadow(0 0 10px cyan);
}

.lable {
  position: absolute;
  font-family: var(--font-family-title);
  font-size: var(--font-size-button);
  inset-inline-end: 25px;
  inset-block-start: 25px;
  color: #000;
  opacity: 0.5;
  text-shadow: 0 0 1px #fff;
  mix-blend-mode: hard-light;
  text-decoration: none;
}

.lable:focus {
  outline: none;
}

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
 .lable {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.section-content-wght {
  font-variation-settings: 'wght' var(--font-weight-text);
}

.from-author {
  align-self: start;
}

.interactive-box {
  align-self: end;
  display: flex;
  gap: 7px;
}

.button {
  cursor: pointer;
  box-shadow: 0 0 0 1px #000;
  background-color: inherit;
  transition: box-shadow 0.3s ease;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.button:focus {
  outline: none;
}

.card__icon-button {
  inline-size: 38px;
  block-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  transition: border-color 0.3s ease;
  padding: 0;
  box-shadow: none;
  background-color: inherit;
  cursor: pointer;
}

.sparks {
  fill-opacity: 0;
}

.contour {
  fill: var(--color-contour);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition-delay: initial;
  fill: var(--color-hover);
}

.like-icon:hover .main-body {
  fill: var(--color-hover);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  transition-delay: initial;
  fill: var(--color-main-body);
}

.like-icon:active .main-body {
  fill: var(--color-main-body);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-main-body);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .core {
  transition-delay: initial;
  fill: var(--color-main-body);
}

.like-icon.is-liked .main-body {
  fill: var(--color-main-body);
  transition-delay: 0.05s;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked {
  animation: scaleHeart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparkleFill 0.3s ease-in 0.3s;
}

.button-reset:focus {
  outline: none;
}

.card__icon-button:active .heart {
  animation: 0.3s ease-in 0.3s 1 normal;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-hover);
}

.card__like-button {
  max-inline-size: 130px;
  padding: 6.5px 35px;
}

.button__text {
  font-family: var(--font-family-title, sans-serif), sans-serif;
  font-size: var(--font-size-button);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-text);
}

.button-save {
  max-block-size: 55px;
  padding: 20px;
  gap: 8px;
  background-color: var(--section-background);
}

.button-save::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hover);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform var(--transition-duration) ease-in-out;
  z-index: 1;
}

.button-save:hover::before {
  transform: scaleX(1);
}

.floppy {
  width: var(--icon-floppy-width);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--color-text);
}

dialog {
  box-shadow: 0 0 0 2px #000;
  border: none;
  max-inline-size: var(--dialog-width);
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
  padding: 30px;
}

.dialog-content {
  display: flex;
  gap: 20px;
}

.floppy-dialog {
  align-self: center;
  max-width: 39px;
  height: auto;
  mix-blend-mode: difference;
  color: #fff;
}

.button__text-dialog {
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 150%;
}

.close {
  padding-block: 6.5px;
}

.hover-fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hover);
  transform: translateX(-100%);
  transition: transform var(--transition-duration) ease-in-out;
  z-index: 1;
}

.hover-fill:hover::before {
  transform: scaleX(1);
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

@media (width <= 376px) {
  .button-save {
    flex-direction: column;
    padding-block: 17px;
    max-block-size: 84px;
  }

  dialog {
    max-inline-size: var(--button-close-width);
    padding: 30px 40px;
  }
}