/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы 
в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/



.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: var(--page-padding);
  font-family: var(--font-Inter-Variable, sans-serif), sans-serif;
  font-size: var(--font-size__section);
  font-weight: var(--font-weight-Inter-text);
  background-image:
    var(--horizontal-stripes),
    var(--vertical-stripes),
    var(--color-gradient);
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.header {
  inline-size: var(--section-width);
  block-size: var(--section-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--section-border);
  background-color: var(--background-color__section);
}

.header-title {
  font-family: var(--font-PressStart2P, sans-serif), sans-serif;
  font-size: var(--font-size__header-title);
  columns: inherit;
}

.header-span {
  font-family: var(--font-PressStart2P, sans-serif), sans-serif;
  font-size: var(--font-size__header-span);
  text-transform: uppercase;
}

.main {
  inline-size: var(--section-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section {
  border: var(--section-border);
  background-color: var(--background-color__section);
  display: flex;
  flex-direction: column;
  padding-inline: 2px;
}

.section-title {
  font-size: var(--font-size__section-title);
  font-weight: var(--font-weight__section-title);
  max-block-size: 30px;
  border: var(--section-border);
  width: 100%;
  padding: 4px 10px;
  line-height: 1.156;
}

.section-image {
  position: relative;
  block-size: var(--image__block-size);
}

.image {
  inline-size: var(--image__inline-size);
  block-size: var(--image__block-size);
}

.image-contrast-brightness {
  filter: contrast(1.1) brightness(1.3);
}

.image-contrast-blur {
  filter: contrast(1.1) blur(1px);
}

.image-contrast-inversion {
  filter: contrast(1.1) invert(0.9);
}

.image-sepia-contrast {
  filter: contrast(1.1) sepia(0.5);
}

.image-bW-contrast {
  filter: contrast(1.1) grayscale(100%);
}

.image-contrast-color {
  filter: contrast(1.1) hue-rotate(180deg);
}

.image-neon {
  filter: brightness(1.5) contrast(1.8) saturate(2) 
          hue-rotate(180deg) drop-shadow(0 0 10px cyan);
}

.lable {
  font-family: var(--font-PressStart2P);
  font-size: var(--font-size__button-text);
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  color: rgb(0 0 0 / 0.5);
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  text-shadow: none;
  /* box-shadow: 0 4px 4px rgb(0 0 0 / 0.25); */
}

@supports not ((-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff)) {
  .text-outline-filter {
    color: #000;
    text-shadow: 
      1px 0 0 #fff,
      0 1px 0 #fff,
      -1px 0 0 #fff,
      0 -1px 0 #fff;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  block-size: auto;
  line-height: 1.155;
  border-top: var(--section-border);
}

.my-memories {
  align-self: start;
}

.button {
  align-self: end;
  display: flex;
  gap: 7px;
}

.button:focus {
  outline: none;
}

.card__icon-button {
  cursor: pointer;
  inline-size: 38px;
  block-size: 38px;
  background-color: inherit;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sparks {
  fill-opacity: 0;
}

.contour
 {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  transition-delay: 0;
  fill: var(--hover-color);
}

.like-icon:hover .main-body {
  fill: var(--hover-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  transition-delay: 0;
  fill: var(--main-body-color);
}

.like-icon:active .main-body {
  fill: var(--main-body-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color);
  transition: 0.3s 0.06s;
}

.like-icon.is-liked .core {
  transition-delay: 0;
  fill: var(--main-body-color);
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color);
  transition-delay: 0.05s;
}

.like-icon {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparkleFill 0.3s ease-in 0.3s;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:active .heart {
  animation: sparkleFill 0.3s ease-in 0.3s 1 normal;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--hover-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  border: var(--section-border);
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
}

.button__text {
  font-family: var(--font-PressStart2P);
  font-size: var(--font-size__button-text);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color);
}

.button-save {
  border: var(--section-border);
  inline-size: var(--button-save__inline-size);
  block-size: var(--button-save__block-size);
  max-block-size: 55px;
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 4px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.floppy {
  width: var(--floppy-width);
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--text-color);
}

.button__text-save {
  white-space: nowrap;
  
}

dialog {
  border: var(--section-border);
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
  padding: 30px;
}

.dialog-content {
  display: flex;
  gap: 20px;
  max-inline-size: var(--close__inline-size);
  max-block-size: 63px;
}

.floppy-dialog {
  align-self: center;
  max-width: 39px;
  height: auto;
  mix-blend-mode: difference;
  color: #fff;
}

.button__text-dialog {
  align-self: center;
  justify-self: center;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.5;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: var(--close__inline-size);
  block-size: var(--close__block-size);
  background-color: transparent;
  border: var(--section-border);
  padding-block: 12.5px;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
  cursor: pointer;
}

.hover-fill::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-color);
  transform: translateX(-100%);
  transition: transform var(--transition-duration) ease-in-out;
  z-index: 1;
}

.hover-fill:hover::before {
  transform: scaleX(1); 
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
}

.card__like-button:focus,
.button-save:focus,
.close:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.trans-focus {
  transition: box-shadow 0.3s ease;
}

@media (width <= 376px) {
  .section-title {
    max-block-size: 52px;
  }

  .button-save {
    flex-direction: column;
    padding-block: 17px;
    min-block-size: 84px;
  }

  .button__text {
    white-space: nowrap;
  }

  dialog {
    max-inline-size: 341px;
    display: flex;
    flex-direction: column;
  }

  .button__text-dialog {
    white-space: break-spaces;
  }
}