:root {
  /* Шрифты */
  --font-family-title: 'PressStart2P';
  --font-family-main: 'Inter-Variable';

  /* Веса шрифтов */
  --font-weight-title: 715;
  --font-weight-text: 410;
  --font-weight-section-title: 715;

  /* Размеры шрифтов */
  --font-size-base: 1.125rem;
  --font-size-button: 0.875rem;
  --font-size-section-title: inherit;

  /* Адаптивные размеры */
  --font-size-header-title: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --font-size-header-subtitle: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);

  /* Интерлиньяж */
  --line-height-base: 1.3125;

  /* Градиенты */
  --gradient-horizontal-stripes: repeating-linear-gradient(
    to right,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px);
  --gradient-vertical-stripes: repeating-linear-gradient(
    to bottom,
    #d3d3d3,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px);
  --gradient-main: linear-gradient(
    to bottom,
    #e7e7e7 0.01%,
    #1a1a1a 100%);

  /* Секции */
  --section-width: clamp(23.4375rem, 30.5172vw + 16.2845rem, 43.75rem);
  --section-border: 0.125rem solid #000;
  --section-background: #fff;
  --section-title-padding: 0.25rem 0.625rem;

  /* Хедер */
  --header-padding-block: clamp(7.625rem, 7.1875rem + 1.875vw, 8.125rem);
  --header-padding-inline: clamp(1rem, -6.6563rem + 25.625vw, 7.6563rem);

  /* Кнопки */
  --button-border: 0.0625rem solid #000;
  --button-save-width: 20.9375rem;
  --button-save-height: clamp(3.4375rem, 5.25rem - 1.2676vw, 5.25rem);

  /* Иконка дискеты */
  --icon-floppy-width: clamp(1.3125rem, 2.2188rem - 1.03vw, 1.75rem);

  /* Диалоговые окна */
  --dialog-width: clamp(21.3125rem, 21.0625rem + 1.127vw, 22.0625rem);
  --button-close-width: clamp(16.3125rem, 15.6084rem + 3.0047vw, 18.3125rem);

  /* Цвета */
  --color-text: #ffffff;
  --color-hover: #000000;
  --color-contour: #000000;
  --color-main-body: #ff0000;

  /* Анимации */
  --transition-duration: 0.5s;
}